@media screen and (min-width: 300px) and (max-width: 500px){
    header{
        height: 20vh;
    }
    main{
        flex-direction: column;
    }
    .left{
        width: 100vw;
        height: 80vh;

    }
    .right{
        width: 100vw;
        height: 20vh;
    }
}